/*General Styles*/
.poly-icon {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: contain;
}

.poly-edit-icon {
    background-image: url("../images/general/icons/edit-icon-1.png");
}

.poly-trash-icon {
    background-image: url("../images/general/icons/trash-icon-1.png");
}

.poly-settings-icon {
    background-image: url("../images/general/icons/settings-icon-1.png");
}

.poly-save-icon {
    background-image: url("../images/general/icons/save-icon-1.png");
}

.poly-back-icon {
    background-image: url("../images/general/icons/back-icon-1.png");
}

.poly-fl {
    float: left;
}

.poly-fr {
    float: right;
}

#poly-spinner-background {
    display: none;
    position: fixed;
    top: 0px;
    left: -20px;
    width: 100%;
    height: 100%;
    padding-right: 20px;
    z-index: 9999999;
    background-color: rgba(0,0,0,.7);
}

#poly-spinner {
    display: none;
    position: fixed;
    top: 250px;
    left: 50%;
    width: 64px;
    height: 64px;
    padding:30px 15px 0px;
    z-index: 9999999;
    text-align:center;
    overflow: auto;
}

.poly-loader {
    z-index: 100;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 25px;
    border-bottom: 1px solid;
    overflow: hidden;
    text-indent: 100%;
    -webkit-animation: .85s poly-loader linear infinite;
    animation: .85s poly-loader linear infinite
}

.poly-loader, .poly-loader:after {
    border-radius: 100%
}

.poly-loader:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid;
    opacity: .5
}

.poly-loader-delayed {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

.poly-loader-small {
    font-size: 16px
}

.poly-loader-medium {
    font-size: 32px
}

.poly-loader-large {
    font-size: 64px
}

.loader-xtralarge {
    font-size: 128px
}

.poly-loader-light {
    color: #fff
}

.poly-loader-violet {
    color: #59c8e2;
}

.poly-loader-orange {
    color: #ff9c4b
}

.poly-loader-blue {
    color: #1c7dfa
}

.poly-loader-green {
    color: #52d669
}

.poly-loader-yellow {
    color: #ffd769
}

.poly-loader-red {
    color: #f35857
}

.poly-loader-white {
    color: #fff
}

.poly-loader-dark {
    color: #000
}

@-webkit-keyframes poly-loader {
    to {
        -webkit-transform: rotate(360deg) translate3d(0, 0, 0);
        transform: rotate(360deg) translate3d(0, 0, 0)
    }
}

@keyframes poly-loader {
    to {
        -webkit-transform: rotate(360deg) translate3d(0, 0, 0);
        transform: rotate(360deg) translate3d(0, 0, 0)
    }
}

/*Application Styles*/
.poly-background {
    background: none repeat scroll 0 0 #ffffff;
    height: 100%;
    top: 0px;
    margin-left: -20px;
    position: fixed;
    width: 100%;
    z-index: -1;
}

.poly-wrap {
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.poly-header {
    margin-bottom: 5px;
}

.poly-header .poly-logo {
    height: 40px;
    width: 150px;
    margin-top: 5px;
}

.poly-header .upgrade-button{
    float: right;
    margin-top: 5px;
    width: 150px;
    text-align: center;
    background: transparent;
    /*background-color: #ffffff;*/
    /*color: #ea6153;*/
}

#poly-admin-nav-tab-wrapper h2 {
    display: inline-block;
}

#poly-dashboard-add-new-wrapper {
    text-align: right;
    margin-bottom: 10px;
}

#poly-dashboard-wrapper {
    margin-top: 10px;
}
#poly-dashboard-add-new-wrapper .add-new-h2 {
    width: 120px;
}

#poly-dashboard-wrapper .wp-list-table .column-title { width: 30%; }
#poly-dashboard-wrapper .wp-list-table .column-description { width: 70%; }

.poly-schedule-header{
    height: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.poly-glazzed-wrap .poly-three-parts {
    width: 33.3%;
}

.poly-glazzed-wrap  .poly-title-part {
    text-align: center;
}

.poly-schedule-header > #poly-schedule-name{
    margin: 0 auto;
    width: 200px;
    height: 25px;
    font-size: large;
    text-align: center;
}

.poly-empty-project-list-alert {
    position: absolute;
    max-width: 500px;
    min-width: 320px;
    top: 45%;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.1);
    -webkit-box-shadow: 0px 4px 14px rgba(0,0,0,.4);
    -moz-box-shadow: 0px 4px 14px rgba(0,0,0,.4);
    box-shadow: 0px 4px 14px rgba(0,0,0,.4);
    border-radius: 2px;
}

.poly-empty-project-list-alert h3 {
    text-align: center;
    color: rgba(255,255,255,.9);
    font-weight: 100;
}

.poly-project-wrapper{
    margin-top: 10px;
    padding-left: 230px;
}

.poly-project-wrapper > aside {
    float:left;
    width:212px;
    margin-left:-230px;
}

.poly-project-wrapper > section {
    float:right;
    width:100%;
    border-left: 1px dashed rgba(255,255,255,.4);
}

.project-list-wrapper #poly-project-list li {
    background-color: #ffffe0;
}

.poly-trash-project-icon{
    float: right;
    margin-top: 12px;
    background-image: url("../images/general/icons/trash-icon-1.png");
    opacity:0;
}

.poly-project-li:hover .poly-trash-project-icon {
    opacity:1;
}

.poly-project-details-wrapper{
    padding-left: 360px;
}

.poly-project-details-wrapper > aside {
    float:left;
    width:359px;
    margin-left:-360px;
    border-right: 1px dashed rgba(255,255,255,.4);
}

.poly-project-details-wrapper > section {
    float:right;
    width: 100%;
    /*width:450px;*/
}

#poly-project-details-content {
    margin-left: 20px;
    margin-right: 20px;
}

#poly-project-title,
#poly-project-cover-img,
#poly-project-description,
#poly-project-url,
#poly-project-categories{
    width: 100%;
}

#poly-project-description{
    height: 120px;
    margin-top: 10px;
    resize: none;
}

#poly-project-url,
#poly-project-category-wrapper{
    margin-top: 5px;
}

.tag-editor .placeholder {
    padding: 0px !important;
}

.tag-editor .placeholder div {
    color: #999999;
    font-family: "Open Sans",sans-serif;
    font-size: 14px !important;
    line-height: 1.4em;
}

.project-list-wrapper > aside > div *{
    width: 100%;
}

/*Sortable Grid Styles*/
.sortable, .handles {
    margin: auto;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sortable.grid {
    overflow: hidden;
}

.sortable .poly-project-li, .handles li {
    list-style: none;
    border-radius: 2px;
    border: 1px solid rgba(255,255,255,.4);
    border-left: 4px solid rgba(255,255,255,.4);
    background: transparent;
    margin: 5px;
    padding: 5px;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
    color: rgba(255,255,255,.9);
}

.poly-project-li .poly-proj-thumb {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background-size: cover;
    display: inline-block;
    cursor: move;
}
.poly-project-li .poly-project-title-label {
    margin-left: 5px;
}

.sortable .poly-pic-li {
    float: left;
    width: 132px;
    height: 132px;
    text-align: center;
    list-style: none;
    border: 1px dashed #CCC;
    border-radius: 2px;
    color: #65A2C5;
    margin: 5px;
    cursor: move;
}

.sortable .poly-pic-li:hover {
    border: 1px dashed #59c8e2;
    -webkit-box-shadow: 0px 0px 6px #59c8e2!important;
    -moz-box-shadow: 0px 0px 6px #59c8e2!important;
    box-shadow: 0px 0px 6px #59c8e2!important;
}

.handles .draggable {
    cursor: move;
}

.active-project-li,
.poly-project-li:hover {
    border-color: #59c8e2!important;
    background: rgba(89,200,226,.25)!important;
    -webkit-box-shadow: 0px 0px 6px #59c8e2;
    -moz-box-shadow: 0px 0px 6px #59c8e2;
    box-shadow: 0px 0px 6px #59c8e2;
}

.poly-project-list{
    margin-top: 8px;
}

.poly-project-images-grid{
    margin-left: 14px;
    margin-top: 8px;
    height: 396px;
}

.poly-project-list {
    height: 396px;
    overflow-y: auto;
}

.poly-project-sidebar .poly-add-project-button{
    width: 100%;
    text-align: center;
    background: transparent;
    /*color: #27ae60;*/
}

.poly-add-picture-button-wrapper{
    width: 100%;
    text-align: right;
}

.poly-project-images-wrapper .poly-add-picture-button{
    /*float: right;*/
    width: 48%;
    text-align: center;
    background: transparent;
    /*color: #27ae60;*/
}

#poly-dashboard-add-new-wrapper .button-secondary {
    width: 193px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    background: transparent;
    margin-bottom: 10px;
    /*background-color: #ffffff;*/
    /*color: #27ae60;*/
}

.poly-settings-title {
    color: #59c8e2;
    text-shadow: 0px 0px 8px rgb(89, 200, 226);
    font-size: 24px;
    letter-spacing: 3px;
}

.poly-schedule-header .schedule-button,
.poly-options-header .schedule-button {
    width: 72px;
    margin-top: 0px;
    margin-left: 6px;
    text-align: center;
    background: transparent;
    color: rgba(255,255,255,.9);
}

.poly-schedule-button-icon{
    /*margin-top: 4px;*/
    font-size: 16px;
}

.poly-schedule-header #poly-schedule-name {
    width: 330px;
    height: 28px;
    line-height: 28px;
    margin-top: 0px;
    text-align: center;
    color: rgba(255,255,255,.9);
    background: transparent;
    border: 0px solid;
    border-bottom: 1px dashed rgba(255,255,255,.4);
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.07) inset;
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.07) inset;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.07) inset;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
    padding-bottom: 9px;
    color: #59c8e2;
    text-shadow: 0px 0px 8px rgb(89, 200, 226);
    font-size: 24px;
    letter-spacing: 3px;
}

.poly-project-details-sidebar .poly-project-title{
    margin-top: 0px;
    text-align: center;
    color: rgba(255,255,255,.9);
    background: transparent;
    border: 0px solid;
    border-bottom: 1px solid rgba(255,255,255,.4);
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.07) inset;
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.07) inset;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.07) inset;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}

.poly-project-details-sidebar .poly-project-title:hover,
.poly-project-details-sidebar .poly-project-title:active,
.poly-project-details-sidebar .poly-project-title:focus
{
    border: 0px solid;
    border-bottom: 1px solid rgba(255,255,255,.4);
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 10px;
    -moz-box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 10px;
    box-shadow: 0 4px 2px -2px rgba(255, 255, 255, 0.3);
}

/*Project Cover Image*/
#poly-project-cover-img{
    width: 100%;
    height: 210px;
    border-radius:3px;
    border: 1px solid rgba(255,255,255,.4);
    margin-top: 15px;
    background:url("../images/general/glazzed-image-placeholder.png") center no-repeat;
    background-size: 100%;
    cursor: pointer;
}

#poly-project-cover-img-overlay {
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.1);
    text-align:center;
    border-radius:3px;
    opacity:0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

#poly-project-cover-img:hover #poly-project-cover-img-overlay {
    opacity:1;
}

#poly-project-cover-img-overlay-content {
    font-family:Helvetica;
    font-weight:10;
    color:rgba(255,255,255,.85);
    font-size:40px;
    text-align: center;
    display: inline-block;
    margin-top: 25%;
}

.poly-edit-project-cover-icon{
    width: 50px;
    height: 50px;
}

/*Project Picture*/
.poly-project-pic{
    width: 100%;
    height: 100%;
    background:url("../images/general/glazzed-image-placeholder.png") center no-repeat;
    background-size: 100%;
    opacity: 0.7;
}

.poly-project-pic-overlay {
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0,.7)!important;
    text-align:center;
    opacity:0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    cursor: pointer;
}

.poly-project-pic:hover {
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    cursor: pointer;
    opacity:1;
}
.poly-project-pic:hover .poly-project-pic-overlay {
    opacity:1;
}

.poly-project-pic-overlay-content {
    width: 100%;
    margin-top: 5px;
    font-family:Helvetica;
    color:rgba(255,255,255,.85);
    font-size:12px;
    text-align: center;
    display: inline-block;
}

.poly-edit-project-pic-icon{
    float: right;
    margin-right: 7px;
}

.poly-trash-project-pic-icon{
    float: left;
    margin-left: 7px;
}

/* Schedule Options */

.poly-options-header{
    height: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.poly-options-header .options-button {
    float: right;
    width: 72px;
    margin-top: 0px;
    margin-left: 6px;
    text-align: center;
    background-color: #ffffff;
    color: #27ae60;
}

.poly-options-header .back-button {
    float: right;
    width: 72px;
    margin-top: 0px;
    margin-left: 6px;
    text-align: center;
    background-color: #ffffff;
    color: #27ae60;
}

.poly-options-section{
    margin-bottom: 15px;
}

.poly-options-section .poly-options-row{
    width: auto;
    height: auto;
    max-height: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.poly-options-section .poly-options-row.h2{
    max-height: 70px;
}

.poly-options-section .iris-picker {
    margin-top: 0px !important;
    margin-left: 120px !important;
}

.poly-options-section h3 {
    font-weight: 100;
    color: #0A246A;
}

.poly-options-section .poly-options-row label{
    width: 240px;
    display: block;
    float: left;
}

.poly-options-section .poly-options-row select,
.poly-options-section .poly-options-row input[type="text"] {
    width: 280px;
    text-align: center;
    margin-right: 7px !important;
    margin-top: -1px;
}

.poly-options-section .poly-options-row select{
    text-align: left;
}

.single-select ul,
.multiple-select ul{
    overflow-x: hidden !important;
}

.poly-options-row .ms-parent.unit {
    margin-top: -3px !important;
}

.poly-options-row select.w2 {
    width: 106px;
}

.poly-options-row i{
    width: auto;
    height: auto;
    color: black;
    font-size: 1.6em;
    float: right;
    margin-right: 15px;
    color: #d3d3d3;
}


.single-select ul input,
.multiple-select ul input{
    margin: 0px !important;
    margin-right: 7px !important;
}

.poly-options-section .poly-options-row input[type="text"].w2 {
    width: 105px !important;
    text-align: center;
}

.poly-options-section .poly-options-row input[type="text"].invalid {
    color: #b22222;
    border: 1px solid;
    border-color: #b22222;
    box-shadow: #b22222 0px 0px 10px;
}

.poly-options-section .poly-options-row select.h2 {
    height: 66px !important;
    max-height: 66px !important;
}

.poly-options-section .poly-options-row select.unit {
    width: 80px !important;
}

.poly-options-section textarea{
    width: 49% !important;
    height: 150px !important;
    margin-left: 6px !important;
    padding: 2px 6px;
    overflow: auto;
    resize: none !important;
}

/*.poly-options-section .poly-options-row input[type="checkbox"] {*/
/*margin-top: 4px;*/
/*}*/

.poly-layouts {
    width: auto;
    height: auto;
    padding:0; !important;
    margin:0; !important;
    margin-left: auto;
    margin-right: auto;
    display: table;
    list-style-type: none; !important;
}

.poly-layouts li {
    width: 140px;
    height: 140px;
    margin: 10px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    list-style-type: none; !important;
}

.poly-layouts li:before {
    content: "" !important;
}

.poly-layouts li a {
    width: 100%;
    height: 100%;
    display: block;
}

.poly-layouts li a div.poly-layout-thumb {
    width: 100%;
    height: 100%;
    margin: 0px !important;
    padding: 0px !important;
}

.poly-layouts li .poly-thumb-overlay {
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0);
    text-align:center;
    cursor: pointer;
}

.poly-layouts #square .poly-thumb-overlay {
    opacity: 0;
    -webkit-transition: opacity .1s ease;
    -moz-transition: opacity .1s ease;
}


.poly-layouts li:hover .poly-thumb-overlay,
.poly-layouts li.active .poly-thumb-overlay {
    opacity:1;
}

.poly-layouts li:hover,
.poly-layouts li.active {
    background:rgba(0, 174, 0,0);
    opacity:1;
}

.poly-layouts li .poly-thumb-overlay .poly-layout-tick {
    width: auto;
    height: auto;
    font-size: 2em;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    float: right;
    color: #59c8e2;
    /*background-image: url(../images/general/icons/tick-icon-3.png);*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
}


.poly-layouts li .poly-thumb-overlay .poly-layout-type-pro {
    width: 50px;
    font-size: 13px;
    display: inline-block;
    margin-right: 8px;
    margin-top: 8px;
    float: right;
    color: #ffffff;
    background-color: rgba(202, 202, 202, 1);
    border-radius: 3px;
}

.poly-layout-square {
    background-image: url(../images/admin/layouts/layout-square_dark.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.poly-layout-list {
    background-image: url(../images/admin/layouts/layout-list.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.poly-layout-masonry {
    background-image: url(../images/admin/layouts/layout-masonry_dark.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.poly-layout-puzzle {
    background-image: url(../images/admin/layouts/layout-puzzle_dark.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.poly-layout-slider {
    background-image: url(../images/admin/layouts/layout-slider.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.poly-tooltip-content {
    width: 270px;
    height: auto;
    padding: 0 15px;
    color: #ffffff!important;
    font-family: Trench!important;
}

.tooltipster-base {
    border-color: #59c8e2!important;
    background: rgba(0,0,0,.8)!important;
    -webkit-box-shadow: 0px 0px 6px #59c8e2!important;
    -moz-box-shadow: 0px 0px 6px #59c8e2!important;
    box-shadow: 0px 0px 6px #59c8e2!important;
    font-family: Trench!important;
    color: #ffffff!important;
}

/* WordPress Default Style customization*/
.poly-admin-nav-tab-wrapper{
    border: 0px solid;
    margin-left: -10px;
}

.poly-admin-nav-tab-wrapper .nav-tab{
    color: #2980b9;
    font-size: small;
    font-style: normal;
    width: 110px;
    text-align: center;
    border: 0px;
    border-bottom: 1px solid;
    margin-right: 15px;
}

.poly-admin-nav-tab-wrapper .nav-tab-active{
    color: #27ae60;
}

.poly-admin-nav-tab-wrapper .nav-tab,
.poly-admin-nav-tab-wrapper .nav-tab-active,
.poly-admin-nav-tab-wrapper .nav-tab-hover,
.poly-admin-nav-tab-wrapper .nav-tab-active-hover {
    background-color: #ffffff;
}


/* Hide till complete entire tooltip logic */
.poly-options-row i {
    display: none;
}



/* glazzed styles */

@font-face {
    font-family: 'Trench';
    src: url('fonts/Trench/Trench-Thin.eot');
    src: url('fonts/Trench/Trench-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/Trench/Trench-Thin.woff') format('woff'),
    url('fonts/Trench/Trench-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


.poly-glazzed-wrap {
    font-family: Trench;
    letter-spacing: 0.4px;
    background: url('../images/general/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-color: #18232a;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: rgba(255,255,255,.9);
    /*font-weight: 300;*/
    margin: 20px 20px 0 0 !important;
    padding: 20px;
    position: relative;
    min-height: 507px;
}
.poly-glazzed-wrap hr {
    border: 0!important;
    border-bottom: 1px solid rgba(255,255,255,.4)!important;
}

.poly-glazzed-wrap input, .poly-glazzed-wrap textarea {
    border: 1px solid rgba(255,255,255,.4);
    background: transparent;
    color: rgba(255,255,255,.9);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.poly-glazzed-wrap input::-moz-placeholder,
.poly-glazzed-wrap textarea::-moz-placeholder {
    color: rgba(255,255,255,.9)!important;
}
.poly-glazzed-wrap input::-webkit-input-placeholder,
.poly-glazzed-wrap textarea::-webkit-input-placeholder {
    color: rgba(255,255,255,.9)!important;
}
.poly-glazzed-wrap input:-moz-placeholder,
.poly-glazzed-wrap textarea:-moz-placeholder {
    color: rgba(255,255,255,.9)!important;
}
.poly-glazzed-wrap input:-ms-input-placeholder,
.poly-glazzed-wrap textarea:-ms-input-placeholder {
    color: rgba(255,255,255,.9)!important;
}
.poly-glazzed-wrap input::placeholder,
.poly-glazzed-wrap textarea::placeholder {
    color: rgba(255,255,255,.9)!important;
}

.poly-glazzed-wrap input:focus,
.poly-glazzed-wrap input:hover,
.poly-glazzed-wrap input:active,
.poly-glazzed-wrap textarea:focus,
.poly-glazzed-wrap textarea:hover,
.poly-glazzed-wrap textarea:active {
    outline: none!important;
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 10px;
    -moz-box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 10px;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.poly-glazzed-wrap table {
    color: rgba(255,255,255,.9);
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
    border: none;
    margin-top: 15px;
}

.poly-glazzed-wrap table>tbody>tr>td,
.poly-glazzed-wrap table>tbody>tr>th {
    background-color: rgba(0,0,0,.4)!important;
    color: rgba(255,255,255,.9)!important;
    border-top: 1px solid #556386;
    position: relative;
}

.poly-glazzed-wrap table>thead>tr>td,
.poly-glazzed-wrap table>thead>tr>th,
.poly-glazzed-wrap table>tfoot>tr>td,
.poly-glazzed-wrap table>tfoot>tr>th {
    background-color: rgba(0, 0, 0, .25) !important;
    color: rgba(255,255,255,.9)!important;
    text-align: left;
    position: relative;
}

.poly-glazzed-wrap table td:not(:last-child):after,
.poly-glazzed-wrap table th:not(:last-child):after {
    content: '';
    width: 1px;
    position: absolute;
    right: 0;
    top: 4px;
    height: calc(100% - 8px);
    background-color: rgba(255,255,255,.4);
}

.poly-glazzed-wrap table>thead>tr>th,
.poly-glazzed-wrap table>thead>tr>td,
.poly-glazzed-wrap table>tfoot>tr>th,
.poly-glazzed-wrap table>tfoot>tr>td {
    padding: 14px 25px;
}

.poly-glazzed-wrap table>tbody>tr>td {
    padding: 10px 25px 10px;
    font-size: 14px;
}

.poly-glazzed-wrap table th a {
    padding: 0;
}

.poly-glazzed-wrap table.wp-list-table .no-items {
    height: 330px;
    text-align: center;
    font-size: 16px;
}

.poly-upgrade-note {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 14px;
}

.poly-upgrade-note a {
    color: #e67e22;
}

.poly-glazzed-wrap .tablenav {
    margin-bottom: 8px;
    height: 40px!important;
}

.poly-glazzed-wrap .tablenav.top {
    display: none;
}

.poly-glazzed-wrap .tablenav .actions,
.poly-glazzed-wrap .tablenav .tablenav-pages {
    padding-top: 7px;
}

.poly-glazzed-wrap .tablenav .actions select {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.poly-glazzed-wrap select,
.poly-glazzed-wrap .tablenav .button {
    background: transparent;
    color: rgba(255,255,255,.9)!important;
    margin-top: 0!important;
    -webkit-box-shadow: 0px 0px 6px #ffffff;
    -moz-box-shadow: 0px 0px 6px #ffffff;
    box-shadow: 0px 0px 6px #ffffff;
}

.poly-glazzed-wrap select {
    height: 32px;
    line-height: 32px;
    border-color: #ffffff;
    -webkit-border-radius: 4px!important;
    -moz-border-radius: 4px!important;
    border-radius: 4px!important;
    cursor: pointer;
    background-image:
            linear-gradient(45deg, transparent 50%, rgba(255,255,255,.9) 50%),
            linear-gradient(135deg, rgba(255,255,255,.9) 50%, transparent 50%);
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.poly-glazzed-wrap select:hover {
    -webkit-box-shadow: 0px 0px 6px #59c8e2!important;
    -moz-box-shadow: 0px 0px 6px #59c8e2!important;
    box-shadow: 0px 0px 6px #59c8e2!important;
    border-color: #59c8e2;
}

.poly-glazzed-wrap select:disabled {
    background-color: rgba(255,255,255,.20);
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    border-color: #ffffff;
}

.poly-glazzed-wrap select:disabled:hover {
    background-image:
            linear-gradient(45deg, transparent 50%, rgba(255,255,255,.9) 50%),
            linear-gradient(135deg, rgba(255,255,255,.9) 50%, transparent 50%);
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
    background-color: rgba(255,255,255,.20);
    color: #ffffff!important;
}


.poly-glazzed-wrap .tablenav .button {
    border-color: #ffffff;
    height: 32px;
    line-height: 31px;
}

.poly-glazzed-wrap .tablenav .button:hover {
    -webkit-box-shadow: 0px 0px 6px #59c8e2!important;
    -moz-box-shadow: 0px 0px 6px #59c8e2!important;
    box-shadow: 0px 0px 6px #59c8e2!important;
    border-color: #59c8e2;
    background-color: #59c8e2;
}

.poly-glazzed-wrap .tablenav .tablenav-pages {
    color: rgba(255,255,255,.9)!important;
}

.poly-glazzed-wrap .tablenav-pages-navspan,
.poly-glazzed-wrap .tablenav .tablenav-pages a,
.poly-glazzed-wrap .tablenav-pages .current-page {
    height: 16px;
    line-height: 20px;
    background-color: transparent;
    border-color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: rgba(255,255,255,.9);
    -webkit-box-shadow: 0px 0px 6px #ffffff;
    -moz-box-shadow: 0px 0px 6px #ffffff;
    box-shadow: 0px 0px 6px #ffffff;
}

.poly-glazzed-wrap .tablenav-pages-navspan {
    border-color: rgba(255,255,255,.35);
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

.poly-glazzed-wrap .tablenav .tablenav-pages a:hover {
    -webkit-box-shadow: 0px 0px 6px #59c8e2!important;
    -moz-box-shadow: 0px 0px 6px #59c8e2!important;
    box-shadow: 0px 0px 6px #59c8e2!important;
    border-color: #59c8e2;
    color: #ffffff;
}

.poly-glazzed-wrap .tablenav-pages .current-page {
    background: transparent;
    color: #ffffff;
    border-color: #59c8e2;
    height: 28px;
    line-height: 28px;
    min-width: 28px;
    -webkit-box-shadow: 0px 0px 6px #59c8e2!important;
    -moz-box-shadow: 0px 0px 6px #59c8e2!important;
    box-shadow: 0px 0px 6px #59c8e2!important;
    padding-bottom: 0!important;
}

.poly-glazzed-wrap table>thead>tr>td:first-child,
.poly-glazzed-wrap table>tfoot>tr>td:first-child {
    width: 40px;
    text-align: center;
}
.poly-glazzed-wrap table>thead>tr>th:last-child {
    width: 125px;
}

.poly-glazzed-wrap table td:last-child {
    padding: 10px 20px 10px;
}

.poly-glazzed-wrap table .poly-settings-btn {
    width: 24px;
    height: 24px;
    border-radius: 13px;
    background-color: transparent;
    border: 1px solid #ffffff;
    -webkit-box-shadow: 0px 0px 6px #ffffff;
    -moz-box-shadow: 0px 0px 6px #ffffff;
    box-shadow: 0px 0px 6px #ffffff;
    color: #ffffff;
}
.poly-glazzed-wrap table .poly-settings-btn:hover {
    background-color: #ffffff;
    color: #000000!important;
}

.poly-glazzed-wrap table .poly-delete-btn {
    width: 24px;
    height: 24px;
    border-radius: 13px;
    border: 1px solid #e84c3e;
    background-color: transparent;
    -webkit-box-shadow:  0px 0px 6px #e84c3e;
    -moz-box-shadow:  0px 0px 6px #e84c3e;
    box-shadow:  0px 0px 6px #e84c3e;
}

.poly-glazzed-wrap table .poly-delete-btn:hover {
    background-color: #e84c3e;
}

.poly-glazzed-wrap table .poly-edit-btn {
    width: 24px;
    height: 24px;
    border-radius: 13px;
    border: 1px solid #59c8e2;
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 6px #59c8e2;
    -moz-box-shadow: 0px 0px 6px #59c8e2;
    box-shadow: 0px 0px 6px #59c8e2;
}

.poly-glazzed-wrap table .poly-edit-btn:hover {
    background-color: #59c8e2;
}

.poly-glazzed-wrap input[type=text] {
    height: 32px;
    line-height: 32px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.poly-glazzed-wrap input[type=text]:disabled {
    background-color: rgba(255, 255, 255, .20);
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-color: #ffffff;
}

.poly-glazzed-wrap input[type=checkbox] {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-color: #ffffff;
    background-color: transparent!important;
    width: 20px;
    height: 20px;
}

.poly-glazzed-wrap input[type=checkbox]:checked {
    color: #59c8e2;
    border-color: #59c8e2;
    -webkit-box-shadow: 0px 0px 8px rgb(89, 200, 226);
    -moz-box-shadow: 0px 0px 8px rgb(89, 200, 226);
    box-shadow: 0px 0px 8px rgb(89, 200, 226);
}

.poly-glazzed-wrap input[type=checkbox]:checked:before {
    color: #59c8e2;
    margin: -1px 0 0 -2px;
}

.poly-glazzed-wrap input[type=checkbox]:disabled {
    opacity: 1!important;
}


.poly-glazzed-wrap table a {
    color: rgba(255,255,255,.9)!important;
    text-decoration: none;
}

.poly-glazzed-wrap table a:hover {
    text-decoration: underline;
}

.poly-glazzed-wrap .sorting-indicator:before {
    color: rgba(255,255,255,.9);
}
.poly-glazzed-wrap .collapse-card .title:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f107";
    box-sizing: border-box;
    float: left;
    margin: 3px 20px 0 0;
}

.poly-glazzed-wrap .collapse-card.active .title:before {
    content: "\f106";
}

.poly-glazzed-wrap .collapse-card {
    background-color: rgba(0,0,0,.2)!important;
    color: rgba(255,255,255,.9);
    border-bottom: 1px solid rgba(255,255,255,.4)!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

.poly-glazzed-wrap .collapse-card.active {
    margin: 0!important;
}

.poly-glazzed-wrap .collapse-card .title {
    color: rgba(255,255,255,.9)!important;
    font-family: Trench;
}

.poly-glazzed-btn {
    display: inline-block;
    padding: 4px 20px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 4px;
    line-height: 1.4;
    white-space: nowrap;
    vertical-align: middle;
    background-color: transparent;
    position: relative;
    color: rgba(255,255,255,.9)!important;
    font-weight: 100;
    -webkit-transition: background-color 250ms,border 250ms;
    transition: background-color 250ms,border 250ms;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

.poly-glazzed-btn:active,.poly-glazzed-btn:focus {
    outline: 0;
}

.poly-glazzed-btn.poly-glazzed-btn-blue,
.poly-glazzed-btn.poly-glazzed-btn-blue:active,
.poly-glazzed-btn.poly-glazzed-btn-blue:focus,
.poly-glazzed-btn.poly-glazzed-btn-blue.poly-glazzed-inverse-btn:hover {
    border-color: #1c7dfa;
    background: transparent;
}

.poly-glazzed-btn.poly-glazzed-btn-blue.inverse,
.poly-glazzed-btn.poly-glazzed-btn-blue:hover {
    background-color: #1c7dfa;
    border-color: #1c7dfa;
}

.poly-glazzed-btn.poly-glazzed-btn-blue:disabled {
    border-color: rgba(28,125,250,.65);
}

.poly-glazzed-btn.poly-glazzed-btn-orange,
.poly-glazzed-btn.poly-glazzed-btn-orange:active,
.poly-glazzed-btn.poly-glazzed-btn-orange:focus,
.poly-glazzed-btn.poly-glazzed-btn-orange.poly-glazzed-inverse-btn:hover {
    border-color: #fdb44d;
    background: transparent;
    -webkit-box-shadow: 0 0 6px #fdb44d!important;
    -moz-box-shadow: 0 0 6px #fdb44d!important;
    box-shadow: 0 0 6px #fdb44d!important;
}

.poly-glazzed-btn.poly-glazzed-btn-orange.inverse,
.poly-glazzed-btn.poly-glazzed-btn-orange:hover {
    background-color: #fdb44d;
    border-color: #fdb44d;
}

.poly-glazzed-btn.poly-glazzed-btn-orange:disabled {
    border-color: rgba(253,180,77,.65);
}

.poly-glazzed-btn.poly-glazzed-btn-green,
.poly-glazzed-btn.poly-glazzed-btn-green:active,
.poly-glazzed-btn.poly-glazzed-btn-green:focus,
.poly-glazzed-btn.poly-glazzed-btn-green.poly-glazzed-inverse-btn:hover {
    border-color: #59c8e2;
    background: transparent;
    -webkit-box-shadow: 0px 0px 6px #59c8e2!important;
    -moz-box-shadow: 0px 0px 6px #59c8e2!important;
    box-shadow: 0px 0px 6px #59c8e2!important;
}


.poly-glazzed-btn.poly-glazzed-btn-green.inverse,
.poly-glazzed-btn.poly-glazzed-btn-green:hover {
    background-color: #59c8e2!important;
    border-color: #59c8e2!important;
}

.poly-glazzed-btn.poly-glazzed-btn-green:disabled {
    border-color: rgba(89,200,226,.65);
}


.poly-glazzed-btn.poly-glazzed-btn-violet,
.poly-glazzed-btn.poly-glazzed-btn-violet:active,
.poly-glazzed-btn.poly-glazzed-btn-violet:focus,
.poly-glazzed-btn.poly-glazzed-btn-violet.poly-glazzed-inverse-btn:hover {
    border-color: #989cff;
    background: transparent;
}

.poly-glazzed-btn.poly-glazzed-btn-violet.inverse,
.poly-glazzed-btn.poly-glazzed-btn-violet:hover {
    background-color: #989cff!important;
    border-color: #989cff!important;
}

.poly-glazzed-btn.poly-glazzed-btn-violet:disabled {
    border-color: rgba(152,156,255,.65);
}


.poly-glazzed-btn.poly-glazzed-btn-dark,
.poly-glazzed-btn.poly-glazzed-btn-dark:active,
.poly-glazzed-btn.poly-glazzed-btn-dark:focus,
.poly-glazzed-btn.poly-glazzed-btn-dark.poly-glazzed-inverse-btn:hover {
    border-color: #ffffff;
    background: transparent;
    -webkit-box-shadow: 0px 0px 6px #ffffff!important;
    -moz-box-shadow: 0px 0px 6px #ffffff!important;
    box-shadow: 0px 0px 6px #ffffff!important;
}

.poly-glazzed-btn.poly-glazzed-btn-dark.inverse,
.poly-glazzed-btn.poly-glazzed-btn-dark:hover {
    background-color: #ffffff!important;
    border-color: #ffffff!important;
    color: #000000!important;
}

.poly-glazzed-btn.poly-glazzed-btn-dark:disabled {
    border-color: rgba(255,255,255,.65);
}
